<div class="container">
  
  <form #f="ngForm" (ngSubmit)="onLogin()">
        
    <div class="form-group">
      <label for="user">User</label>
      <input type="text" class="form-control"
        name="user"
        [(ngModel)]="userForm.user"
        required
        #user="ngModel">

      <div *ngIf="user.invalid && user.touched" class="alert alert-danger">
        User is required
      </div>
    </div>
        
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control"
        name="password"
        [(ngModel)]="userForm.password"
        required
        #password="ngModel">
        
      <div *ngIf="password.invalid && password.touched" class="alert alert-danger">
        Password is required
      </div>
    </div>
        
    <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Login</button>
  
    <br>
    TODO: remove this: {{user.className}}
    <br>
    TODO: remove this: {{password.className}}
  </form>
  
</div>  
