<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <a class="navbar-brand" href="#">DevSchool</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li *ngFor="let link of links" class="nav-item active">
        <a class="nav-link" href="#" (click)="select(link)">{{link}}</a>
      </li>
    </ul>
  </div>
  <span class="ml-auto mr-3">
    <devschool-language-selector (languageChange)="onlanguageChange($event)"></devschool-language-selector>
  </span>
</nav>