<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{ 'NAME' | translate}}</th>
      <th scope="col">{{'DESCRIPTION' | translate}}</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cartItem of cartItems$ | async; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{cartItem.name}}</td>
      <td>{{cartItem.description}}</td>
      <td>{{cartItem.quantity}}</td>
      <td>{{cartItem.price}}</td>
    </tr>
  </tbody>
</table>